<link rel="stylesheet" href="/css/comment.css">
<li class="comment-lists">
    <p>
        <% if (locals.user && locals.user.id == comment.user.id){ %>
        <small>
            <a href="/comments/destroy/<%= comment.id %>">X</a>
        </small>
        <% } %>
        <small>
            <%= comment.user.name %>
        </small>
        <%= comment.content %>
        <br>
        
    </p>    

</li>