
<header id="body-header">
    <nav>
        <ul class="nav-menu">
            <li class="nav-items"><img src="/images/MDR.png" alt="can't open" id="logo"></li>
            <li class="nav-items"><a href="/">Home</a></li>
            <li class="nav-items"><a href="/users/profile">Profile</a></li>
            <% if(locals.user){%>
                <li class="nav-items">
                    <a  href="/users/profile"><%=user.name %></a>
                </li>
                <li class="nav-items">
                    <a href="/users/sign-out"><button id="sigout">SignOut</button></a>
                </li>
              <%}else{ %>
                        <li class="nav-items">
                            <a href="/users/sign-in"><button id="signin">SignIn</button></a>
                        </li>
                        <li class="nav-items">
                            <a href="/users/sign-Up"><button id="signup">SignUp</button></a>
                        </li>
                  <% }%>
        </ul>
    </nav>


   
       