#body-header
{
    
    width:100vw;
    height:60vh;
   
}
.nav-items{
    
    width:20rem;
}
.navigation{
     position:fixed;
      width:100vw;
      height:12vh;
      background-color: rgb(4, 92, 99);
      margin:0;
    ul{
        display: flex;
        // display: inline-block;
        align-items:center;
        list-style:none;
        justify-content: space-between;
        margin-right: 1rem;
        margin-top: 0;
        li{
            display: inline;
            a{
                text-decoration: none;
                font-size: 2rem;
                color: whitesmoke;
                button{
                    
                    border: 2px solid black;
                    border-radius: 1rem;
                    width: 5rem;
                    height: 2rem;
                }
                button:hover{
                    color: whitesmoke;
                    background-color: black;
                    border: 2px solid whitesmoke;
                    border-radius: 5rem;
                }
            }
            a:hover{
                color: rgb(240, 177, 154);
            }
        }
    }
}
#logo{
    height:9vh;
    width:10vw;
    margin:0.5rem;
    padding: 0;
    border-radius: 0.2rem;
}
#signin{
    margin-right:0vw;
}

.header-down-container{
    
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgb(246, 241, 246);
    margin: auto;
    margin-top: 0;
    margin-bottom: 5rem;
    padding: 2rem;

    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
    // border-radius: 100%;
    text-shadow:0.3rem 0.3rem 0.3rem rgb(49, 21, 126);
}
// .text-center{
//     text-align: center;
// }