#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    height: 100%;
    width: 30%;
    padding: 10px;
    border: 5px soid red; }
